<div class="header d-flex justify-content-center w-100">
  <div class="title">Type de financement</div>
</div>
<div class="row cards">
  <div class="col">
    <div
      class="card islamique"
      (click)="setIslamiqueCheck()"
      [class.selected]="islamique"
    >
      <span class="material-icons">mosque</span>
      <p>Finance islamique</p>
      <!-- <div class="form-check form-switch">
        <input
          style="box-shadow: none; font-size: 22px"
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
      </div> -->
    </div>

    <div class="card" [routerLink]="['/simulation/consomation']">
      <span class="material-icons">add_shopping_cart</span>
      <p>Credit a la consomation</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
    <div class="card" [routerLink]="['/simulation/immobilier']">
      <span class="material-icons">roofing</span>
      <p>Credit immobilier</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
    <div class="card" [routerLink]="['/simulation/presurgage']">
      <span class="material-icons">assured_workload</span>
      <p>Prêt sur gage</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="..." />
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body">Hello, world! This is a toast message.</div>
    </div>
  </div>
</div>
