<div class="container-fluid">
  <div class="img-container">
    <img class="img-bg-home" src="../../assets/backgroud.jpg" alt="" />
    <div class="bg-fond-black"></div>
  </div>
  <div class="card-container translate">
    <div
      class="back-container"
      style="width: 100%; height: 7%; display: flex; justify-content: start"
    >
      <span
        class="material-icons mt-4"
        style="font-size: 25px !important; margin-left: 2%; cursor: pointer"
        (click)="goBack()"
      >
        arrow_back_ios
      </span>
    </div>
    <div class="logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
    <div class="connexion translate" *ngIf="!resetPassword">
      <div class="body-container">
        <h3 class="title">Connexion</h3>
        <div class="input-container">
          <div class="suppositions-container">
            <span
              [ngClass]="client ? 'selected' : 'supposition'"
              (click)="onChangeConnexion()"
              >Client</span
            >
            <span
              [ngClass]="banquier ? 'selected' : 'supposition'"
              (click)="onChangeConnexion()"
              >Banquier</span
            >
          </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="clientLogin()" *ngIf="client">
          <div class="mb-1 mt-4">
            <input
              type="email"
              class="form-control mb-3"
              formControlName="email"
              id="email"
              placeholder="Adresse email"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Mot de passe"
            />
          </div>

          <div class="button-container mb-4">
            <button *ngIf="!isLoading" class="btn mb-4">Connexion</button>
            <img
              *ngIf="isLoading"
              class="isLoading"
              src="../../../assets/loading.png"
              style="width: 40px"
              alt="loadingButton"
            />
          </div>
          <hr class="mt-2 mb-1" style="margin: 0 auto; width: 40%" />
          <div class="forgot-password-container">
            <span class="forgot-password" (click)="resetPassword = true">
              Mot de passe oublié ?</span
            >
          </div>
        </form>

        <form
          [formGroup]="banquierForm"
          (ngSubmit)="banquierLogin()"
          *ngIf="banquier"
        >
          <div class="mb-1 mt-4">
            <input
              type="email"
              class="form-control mb-3"
              formControlName="nin"
              id="email"
              placeholder="Nom d'utilisateur"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Mot de passe"
            />
          </div>

          <div class="button-container">
            <button class="btn mb-4">Connexion</button>
          </div>
          <div class="forgot-password-container">
            <span class="forgot-password" (click)="resetPassword = true">
              Mot de passe oublié ?</span
            >
          </div>
        </form>
      </div>
    </div>
    <div class="connexion resetPassword translate" *ngIf="resetPassword">
      <div class="body-container">
        <h3 class="title">Réinitialisation du mot de passe</h3>

        <form
          [formGroup]="resetPasswordData"
          (ngSubmit)="resetPasswordFunction()"
        >
          <div class="mb-1 mt-5">
            <input
              type="email"
              class="form-control mb-3"
              formControlName="email"
              id="email"
              placeholder="Entrez votre adresse email"
            />
          </div>

          <div class="button-container mt-4">
            <button *ngIf="!isLoading" class="btn mb-4">Confirmer</button>
            <img
              *ngIf="isLoading"
              class="isLoading"
              src="../../../assets/loading.png"
              style="width: 40px"
              alt="loadingButton"
            />
          </div>
          <div
            *ngIf="ifSubmitted"
            class="ifSubmitted translate"
            style="
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <span class="material-icons" style="color: green"
              >check_circle</span
            >
          </div>
          <div class="button-container" (click)="resetPassword = false">
            <span class="goToConnexion"> Annuler </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
