<div class="container-fluid">
  <div class="img-container">
    <img class="img-bg-home" src="../../assets/backgroud.jpg" alt="" />
    <div class="bg-fond-black"></div>
  </div>
  <div class="card-container">
    <div
      class="back-container"
      style="width: 100%; height: 7%; display: flex; justify-content: start"
    >
      <span
        class="material-icons"
        style="font-size: 25px !important; margin-left: 2%; cursor: pointer"
        (click)="goBack()"
      >
        arrow_back_ios
      </span>
    </div>
    <div class="logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
    <div class="home">
      <div class="connexion w-50">
        <div class="body-container">
          <span class="title">Connexion</span>
          <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
            <div class="mb-1 mt-5">
              <input
                type="email"
                class="form-control mb-3"
                formControlName="email"
                id="email"
                placeholder="Adresse email"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
                placeholder="Mot de passe"
              />
            </div>
            <div class="button-container">
              <button class="btn mb-5">Connexion</button>
            </div>
            <div class="forgot-password-container">
              <span class="forgot-password"> Mot de passe oublié ?</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
