<div class="header d-flex justify-content-center translate">
  <h2 class="title">Confirmez votre email</h2>
</div>
<div class="logo-container translate">
  <!-- <img src="../../../../assets/emailConfirm.png" alt="" /> -->
  <span class="material-icons">mark_email_read</span>
</div>
<!-- <div class="form-group">
  <div class="digit-container">
    <div *ngFor="let input of inputs; let i = index">
      <input
        #input
        [(ngModel)]="inputValues[i]"
        [disabled]="i !== currentInput"
        [class.selected]="i == currentInput"
        (keyup)="onKeyup(i)"
        type="text"
        class="form-control digit"
        maxlength="1"
        placeholder="*"
        [autofocus]="i === currentInput"
      />
    </div>
  </div>
</div> -->
<div class="subtitle translate mt-3">
  Rendez-vous dans votre boîte e-mail. Un lien de confirmation vous y attend. Un
  simple clic sur ce lien et votre compte sera confirmé.
</div>
<div class="explication translate">
  Lorsque vous cliquerez sur le lien de confirmation dans votre boîte e-mail,
  vous serez automatiquement redirigé vers votre tableau de bord personnel.
</div>
<div class="button-container translate">
  <button class="btn btn2">Renvoyez l'email de confirmation</button>
  <!-- <button
    class="btn btn2"
    (click)="submit()"
    [routerLink]="['/simulation/upload']"
  >
    Confirmer
  </button> -->
</div>
