<div class="header d-flex justify-content-center translate">
  <div class="title">Confirmez votre email</div>
  <span class="subtitle">
    Rendez-vous dans votre boîte e-mail pour finaliser la création de votre
    compte. Un simple clic vous sépare de tous les avantages qui vous attendent!
  </span>
</div>

<div class="logo-container">
  <img src="../../../../assets/emailConfirm.png" alt="" />
</div>
<div class="button-container">
  <button class="btn btn1">Renvoyez l'email de confirmation</button>
  <button class="btn btn2" [routerLink]="['/simulation/upload']">
    Email confirmé
  </button>
</div>
