<div class="details-info">
  <div class="numero">Dossier {{ folderValue.nomDossier }}</div>
  <div class="details-column">
    <div class="title-container">
      <label>Nom:</label>
      <!-- <div>KHELF</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue.client.nom }}"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Prénom:</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue.client.prenom }}"
        disabled
      />
    </div>

    <div class="title-container">
      <label>Age:</label>
      <!-- <div>07/07/1997</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue.ageEmprunteur }}"
        disabled
      />
    </div>

    <div class="title-container">
      <label>Adresse email :</label>
      <!-- <div>ferhat&#64;gmail.com</div> -->
      <input
        type="email"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue.client.email }}"
        disabled
      />
    </div>

    <div class="title-container">
      <label>Numéro de télephone</label>
      <!-- <div>0560...</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue.client.telephone }}"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Nationnalité :</label>
      <!-- <div>Algerienne</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue.client.nationalite }}"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Adresse</label>
      <!-- <div>Ouaguneoun tizi ouzou</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue.client.adresse }}"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Code postal</label>
      <!-- <div>15048</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue.client.codePostal }}"
        disabled
      />
    </div>
  </div>
</div>
