.container-fluid {
  background-color: #f6f5f4;
  margin: auto;
  width: 96%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.table-container {
  margin-top: 50px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #f2f2f2;
  border: 2pt solid #111010;

  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #0a0a0a;
  text-align: left;
  padding: 8px;
  max-width: 100px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e0e0e0;
}
