<div class="container-fluid">
  <!-- nouveau  -->
  <div class="row cards translate">
    <div class="col-sm-12 col-md-4 col-lg-4 mt-2" *ngFor="let f of Folders">
      <div class="card">
        <div class="card-left">
          <div class="card-left-header">
            <h6>{{ f.typeFinancement }}</h6>
            <p>{{ f.typeCredit }}</p>
          </div>
          <p class="card-date">05/01/2023</p>
        </div>
        <div class="card-right">
          <div class="badge-container">
            <span class="badge text-bg-success">Vérifié</span>
          </div>
          <!-- <span class="material-icons">arrow_forward_ios</span> -->
          <button class="btn btn-outline-secondary" (click)="folderClicked(f)">
            Détail
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
