.container-fluid {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.table-container {
  margin-top: 50px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1vh;
}
.accordion {
  box-shadow: 0 0 4px 1px rgba(78, 77, 77, 0.247);
}
.accordion-button:focus {
  background-color: rgba(228, 226, 226, 0.623);
  border: none;
  box-shadow: none;
}
.accordion-button:active {
  background-color: rgba(209, 207, 207, 0.671);
}

/* nouveau card */
.cards {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 90%;
  overflow-y: auto;
  padding: 3%;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-shadow: 0 0 5px 3px rgba(133, 129, 129, 0.11);
  height: 125px;
  background-color: rgba(255, 255, 255, 0.884);
  transition: 0.3s ease;
  border: 1px solid #ddddddb2;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.02);
}
.card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 3%;
}
.card-left-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-left-header h6 {
  font-weight: 600;
}
.card-left-header p {
  opacity: 0.6;
}
.card-left .card-date {
  opacity: 0.6;
  margin-bottom: 0;
  font-size: small;
}

.card-right {
  display: flex;
  flex-direction: column;
  padding: 3%;
  justify-content: space-between;
}
.btn {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: small;
}
.btn:hover {
  background-color: var(--var1);
}

/* fin card */
