<div class="container-fluid">
  <!-- nouveau  -->
  <div class="cards translate">
    <div class="col-12 mt-2" *ngFor="let f of Folders">
      <div class="card" (click)="folderClicked(f)">
        <div class="card-left">
          <span class="material-icons icon-card">folder</span>
          <div class="card-left-info">
            <h6>{{ f.typeCredit.nomCredit }}</h6>
            <p>{{ f.createdAt }}</p>
          </div>
        </div>
        <!-- <div
          class="card-right soumettre px-3"
          *ngIf="f.assignedagence === null"
          (click)="sendFolder(f.id)"
        >
          <span class="material-icons">send</span>
          <p>Envoyer</p>
        </div> -->
        <div class="card-right en-cours px-3" *ngIf="f.assignedagence === null">
          <span class="material-icons">query_builder</span>
          <p>Dossier en attente</p>
        </div>
        <div
          class="card-right en-cours px-3"
          *ngIf="
            (f.status === 'TRAITEMENT_ENCOURS' && f.assignedagence != null) ||
            (f.status === 'TRAITEE' && f.assignedagence != null) ||
            (f.status === 'NON_TRAITEE' && f.assignedagence != null)
          "
        >
          <span class="material-icons">query_builder</span>
          <p>En cours</p>
        </div>
        <div class="card-right accepte px-3" *ngIf="f.status === 'VALIDE'">
          <span class="material-icons">check_circler</span>
          <p>Accepté</p>
        </div>
        <div class="card-right rejete px-3" *ngIf="f.status === 'REJETE'">
          <span class="material-icons">gpp_maybe</span>
          <p>Rejeté</p>
        </div>
      </div>
    </div>
  </div>
</div>
