<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container translate">
    <div
      style="
        height: 95%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="forms">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
          <div class="input-container">
            <div class="form-group" style="margin-left: 8px">
              <input
                type="text"
                class="form-control"
                placeholder="Emprunteur"
                formControlName="emprunteur"
              />
            </div>
            <div class="form-group" style="margin-left: 8px">
              <input
                type="text"
                class="form-control"
                placeholder="Nom du projet"
                formControlName="nom_projet"
              />
            </div>
            <div class="form-group" style="margin-left: 8px">
              <select
                class="form-select"
                aria-label="Statut"
                formControlName="statut"
              >
                <option selected value="TRAITEMENT_ENCOURS">
                  Traitement en cours
                </option>
                <option value="TRAITEE">Traité</option>
                <option value="RETOURNER">
                  Retour pour plus d'informations
                </option>
              </select>
            </div>

            <div
              class="button-container"
              style="margin-left: 8px"
              *ngIf="!searchActivate"
            >
              <input
                type="submit"
                class="btn-control material-icons"
                value="search"
              />
            </div>
            <div
              class="button-container"
              style="margin-left: 8px"
              *ngIf="searchActivate"
            >
              <input
                type="submit"
                class="btn-control material-icons"
                value="close"
              />
            </div>
          </div>
        </form>
      </div>

      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th></th>
              <th style="width: 30%">Type du crédit</th>
              <th>Emprunteur</th>
              <th>Type du client</th>

              <th>Montant du prêt</th>

              <th>Statut</th>
              <th>Détail</th>
              <th>Commentaire</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let folder of Folders; let i = index">
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="folder.isSelected"
                  (change)="updateSelectedFolders()"
                  *ngIf="
                    folder.status === 'TRAITEMENT_ENCOURS' ||
                    folder.status === 'RENVOYER'
                  "
                />
              </td>
              <td style="display: flex; align-items: start">
                <span
                  class="material-icons"
                  style="color: orange; margin-right: 5px"
                  >folder</span
                >{{ folder.typeCredit.nomCredit }}
              </td>
              <td>{{ folder.client.nom }} {{ folder.client.prenom }}</td>
              <td>Particulier</td>

              <td>
                {{ folder.montantHabitation | currency : "DZD" : "" }} DZD
              </td>
              <td>{{ status(folder.status) }}</td>
              <td>
                <i class="material-icons icon" (click)="folderClicked(folder)"
                  >remove_red_eye</i
                >
              </td>
              <td
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <i
                  class="material-icons icon"
                  (click)="toggleShowModale(folder)"
                  >add</i
                >
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <div
      class="button-container"
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin: 0 auto;
      "
    >
      <button
        class="btn btn-success"
        style="font-size: small"
        [disabled]="selectedFolders.length === 0"
        (click)="soumettreDossier()"
      >
        Soumettre au directeur
      </button>
    </div>
  </div>

  <div class="modale-container" *ngIf="showModal">
    <div class="modale-arriere-plan"></div>
    <div class="modale">
      <div class="header">
        <h6>Ajouter un commentaire</h6>
        <span class="material-icons" (click)="toggleShowModale('')">close</span>
      </div>
      <div class="body">
        <div class="form-floating" style="width: 100%; height: 90%">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            style="height: 100px; box-shadow: none"
            [(ngModel)]="comment"
          ></textarea>
          <label for="floatingTextarea2">Commentaire</label>
        </div>
      </div>
      <div class="footer">
        <button
          class="btn"
          style="
            width: 100px;
            margin: 0 auto;
            font-size: small;
            background-color: var(--var1);
            font-weight: 600;
            color: white;
          "
          (click)="addComment()"
        >
          Soumettre
        </button>
      </div>
    </div>
  </div>
</div>
