<div class="container-fluid">
  <div class="navbar">
    <img
      src="../.../../../../assets/sidebarLaterlShow.png"
      class="lateralsidebarshow"
      alt="lateralsidebarshow"
      (click)="toggleSidebar()"
    />
    <div class="navbar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
  </div>
  <div class="sidebar">
    <div class="sidebar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
    <div class="add-credit" (click)="creditSelected()">
      <span class="material-icons sidebar-icons"> add_circle </span>
      <span class="sidebar-text">Nouveau crédit</span>
    </div>
    <div class="sections">
      <div
        class="container-text"
        [routerLink]="['/client/dashbord']"
        (click)="dashboardSelected()"
        [ngClass]="{ 'special-class': selected }"
      >
        <span class="material-icons sidebar-icons">dashboard</span>
        <span class="sidebar-text"> Dashboard</span>
      </div>

      <div
        class="container-text"
        [routerLink]="['/client/dossier']"
        (click)="dossierSelected()"
        [ngClass]="{ 'special-class': dselected }"
      >
        <div class="folder-container">
          <span class="material-icons sidebar-icons"> folder </span>
          <span class="sidebar-text">Mes dossier</span>
        </div>
        <span class="badge rounded-pill text-bg-light">{{
          Folders.length
        }}</span>
      </div>
      <div
        class="container-text"
        [routerLink]="['/client/profile']"
        (click)="profileSelected()"
        [ngClass]="{ 'special-class': pselected }"
      >
        <span class="material-icons sidebar-icons"> account_circle </span>

        <span class="sidebar-text">Mon profile</span>
      </div>
    </div>
  </div>
  <div>
    <div
      *ngIf="isSidebarOpen"
      class="sideBar-lateral-container"
      (click)="toggleSidebar()"
    ></div>
    <div
      class="sideBar-lateral translateSideBar"
      [ngClass]="{
        translateSideBar: isSidebarOpen,
        translateSideBarHidden: !isSidebarOpen
      }"
    >
      <div class="sidebar-lateral-header">
        <span class="material-icons" (click)="toggleSidebar()">close</span>
      </div>
      <div
        class="sidebar-lateral-add-credit"
        (click)="creditSelected()"
        [ngClass]="{ 'sidebar-lateral-special-class': cselected }"
      >
        <span class="material-icons sidebar-icons-add-credit">
          add_circle
        </span>
        <span class="sidebar-text-add-credit">Nouveau crédit</span>
      </div>
      <hr class="mt-5 mb-5" style="width: 80%; margin: 0 auto" />
      <div class="sidebar-lateral-sections">
        <div
          class="sidebar-lateral-container-text"
          [routerLink]="['/client/dashbord']"
          (click)="dashboardSelected()"
          [ngClass]="{ 'sidebar-lateral-special-class': selected }"
        >
          <span class="material-icons sidebar-icons">dashboard</span>
          <span class="sidebar-text"> Dashboard</span>
        </div>

        <div
          class="sidebar-lateral-container-text"
          [routerLink]="['/client/dossier']"
          (click)="dossierSelected()"
          [ngClass]="{ 'sidebar-lateral-special-class': dselected }"
        >
          <div class="folder-container">
            <span class="material-icons sidebar-icons"> folder </span>
            <span class="sidebar-text">Mes dossiers</span>
          </div>
          <span
            class="badge rounded-pill text-bg-light"
            style="font-size: small; margin-right: 1%"
            >{{ Folders.length }}</span
          >
        </div>
        <div
          class="sidebar-lateral-container-text"
          [routerLink]="['/client/profile']"
          (click)="profileSelected()"
          [ngClass]="{ 'sidebar-lateral-special-class': pselected }"
        >
          <span class="material-icons sidebar-icons"> account_circle </span>
          <span class="sidebar-text">Mon profile</span>
        </div>
      </div>

      <div class="sidebar-lateral-footer">
        <div class="information-container">
          <div class="avatar">
            <img src="../../../assets/avatar.png" alt="avatar" />
          </div>
          <div class="information">
            <span class="name">{{ client.nom }} {{ client.prenom }}</span>
            <p class="email">{{ client.email }}</p>
          </div>
        </div>
        <div class="logout">
          <span class="material-icons"> logout </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container scale-in">
    <div
      class="navbar-card-container"
      [ngClass]="{
        'navbar-card-container-hidden':
          url === '/client/profile' ||
          url === '/client/detail-dossier/information' ||
          url === '/client/detail-dossier/detail-client' ||
          url === '/client/detail-dossier/detail-credit' ||
          url === '/client/detail-dossier/document'
      }"
    >
      <div class="left">
        <span>{{ getTitle() }}</span>
      </div>
      <div class="right">
        <div class="avatar">
          <img src="../../../assets/avatar.png" alt="avatar" />
        </div>
        <div class="information">
          <span class="name">{{ client.nom }} {{ client.prenom }}</span>
          <p class="email">{{ client.email }}</p>
        </div>
        <div class="logout">
          <span class="material-icons mt-2"> logout </span>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
