@keyframes scaleIn {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

.scale-in {
  animation: scaleIn 0.5s ease;
}

@keyframes translate {
  from {
    transform: translate(-20px, -50px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.translate {
  animation: translate 1s ease;
}

.container-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
}

.card-container {
  transition: 0.6s ease;

  width: 75%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.884);
  box-shadow: 0 0 15px 1px rgba(43, 41, 41, 0.479);
  /* box-shadow: 0 0 15px 1px rgba(245, 54, 54, 0.808); */
  /* box-shadow: 0 0 15px 1px rgb(24, 218, 18); */

  overflow: hidden; /* Ajout de overflow: hidden pour gérer le débordement des enfants */
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.card-container:hover {
  transform: scale(1.03);
}
.logo-container {
  margin: 0 auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container img {
  width: 22%;
  margin-top: 0%;
  cursor: pointer;
}
.icons-header {
  margin-top: 2%;
  color: rgb(75, 77, 77);
  font-size: 33px !important;
  transition: 0.2s ease;
  cursor: pointer;
}
.icons-header:hover {
  color: rgba(114, 33, 130, 1);
  transform: scale(1.3);
}
/* *****navabar ***** */
.navbar {
  display: none;
  width: 100vw;
  margin-bottom: 3%;
  background-color: white;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.233);
}
.navbar-logo-container {
  width: 40%;
  margin-right: 2%;
  display: flex;
  justify-content: end;
}
.navbar-logo-container img {
  width: 80%;
}
.navbar-icons-header {
  margin-left: 3%;
  font-size: 40px !important;
}
.lateralsidebarshow {
  width: 5%;
  margin-left: 3%;
  opacity: 0.5;
  cursor: pointer;
}
/* ****fin navbar */
/* pour la side bar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
  height: 90%;
  margin-right: 5%;
}
.sidebar-logo-container {
  margin: 0 auto;
  width: 100%;
  height: 10%;
  margin-bottom: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
}
.sidebar-logo-container img {
  width: 100%;
  cursor: pointer;
}
.add-credit {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(100, 98, 98);
  padding: 10%;
  transition: 0.6s ease;
  height: 6%;
  margin-bottom: 20%;
  background-color: white;
  box-shadow: 0 0 5px 1px #66666618;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.sections {
  height: 90%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(100, 98, 98);
  padding: 10%;
  transition: 0.6s ease;
  height: 6%;
  margin-top: 1%;
}
.sidebar-icons {
  font-size: 22px;
  margin-left: 2%;
  margin-bottom: 2%;
}
.sidebar-text {
  font-size: 0.9rem;
  margin-left: 3%;
  font-weight: 400;
}
/* sidebarLateral */
.sideBar-lateral {
  display: none;
}
@keyframes sidebarScal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.sidebarScal {
  animation: sidebarScal 0.6s ease;
  color: #722182;
  font-weight: bold;
}

/* fin side bar */

@-webkit-keyframes fade {
  50% {
    opacity: 0.3;
  }
}
@keyframes fade {
  50% {
    opacity: 0.3;
  }
}

@keyframes scale-in-icons {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes translateSideBar {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}
.translateSideBar {
  animation: translateSideBar 0.6s ease;
  box-shadow: 9px 0px 27px 7px rgba(0, 0, 0, 0.4);
}

.translateSideBarHidden {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
/* .container-text span:hover {
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  color: #722182;
}
.special-class {
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  color: #722182;
} */
.container-text:hover {
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  background-color: #b2b7cf86;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #722182;
  font-weight: 600;
}
.special-class {
  font-size: 16px;
  cursor: pointer;
  background-color: #b2b7cf86;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #722182;
  font-weight: 600;
}
.special-class span {
  font-weight: 600;
}
.special-class:hover {
  font-size: 16px;
  cursor: pointer;
  background-color: #b2b7cf;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #722182;
  font-weight: 600;
}

/* pour la sidebar Laterale */
.sideBar-lateral {
  width: 250px;
}
.sidebar-lateral-add-credit {
  width: 90%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--var2);
  box-shadow: 0 0 10px 2px #66666677;
  border-radius: 10px;
  margin: 10% auto;
  color: black;
  font-size: 25px;
}
.sidebar-icons-add-credit {
  font-size: 35px !important;
  font-weight: 600;
  margin-right: 10px;
}
.sidebar-text-add-credit {
  font-size: 18px;
  font-weight: 600;
}
.sidebar-lateral-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: whitesmoke;
}

.sidebar-lateral-footer .avatar {
  display: flex;
  justify-content: end;
}
.avatar img {
  width: 70px;
  margin-right: 0;
  cursor: pointer;
}

.information-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
.information-container .information {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.information .name {
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}
.information .email {
  margin: auto;
  font-size: 15px;
  opacity: 0.7;
}
.logout span {
  font-size: 30px !important;
  cursor: pointer;
  opacity: 0.6;
}
.logout span:hover {
  opacity: 0.9;
}

/* fin side bar lateral */

/* pour la responsivité  */

@media screen and (max-width: 1000px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar {
    display: none;
  }
  .card-container {
    width: 95%;
  }
  .sideBar-lateral-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 350vw;
    z-index: 1;
    background-color: #00000052;
    transition: transform 0.3s ease;
  }
  .sideBar-lateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease;
  }
  .sidebar-lateral-hidden {
    width: 0;
  }
  .sidebar-lateral-header {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .sidebar-lateral-header span {
    font-size: 40px !important;
    margin: 3%;
    cursor: pointer;
  }
  .sidebar-lateral-sections {
    width: 90%;
    margin: auto;
    height: 30%;
    margin-top: 5px;
  }
  .sidebar-lateral-container-text {
    height: 22%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgba(0, 0, 0, 0.486);
  }
  .sidebar-lateral-container-text span {
    font-size: 22px;
    margin-left: 20px;
  }
  .container-text:hover {
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
    /* background-color: #b2b7cf86; */
    background-color: var(--var2);
    border-radius: 10px;
    color: black;
    font-weight: 600;
  }
  .sidebar-lateral-special-class {
    font-size: 16px;
    cursor: pointer;
    /* background-color: #b2b7cf86; */
    background-color: var(--var2);
    border-radius: 10px;
    color: black;
  }

  .sidebar-lateral-special-class:hover {
    font-size: 16px;
    cursor: pointer;
    /* background-color: #b2b7cf; */
    background-color: var(--var2);
    border-radius: 10px;
    color: black;
    font-weight: 600;
  }
}
@media screen and (max-width: 800px) {
  .card-container {
    width: 100vw;
    height: 100%;
    border-radius: 0px;
    overflow-y: auto;
  }
  .card-container:hover {
    transform: none;
  }
  .navbar {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .progress-container {
    height: 4vh;
  }
  .progressBar-icons {
    font-size: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .sideBar-lateral {
    width: 100vw !important;
  }
}
