<div class="header d-flex justify-content-center w-100 translate"></div>
<div class="container">
  <div class="add-document mb-3">
    <h3>Pièces jointes</h3>
    <span class="material-icons add-icon" style="font-size: 25px !important"
      >attach_file</span
    >
  </div>

  <div class="document-container">
    <!-- pour l'identité -->
    <div class="document-add-container mt-3">
      <div class="document">
        <div class="subtitle">
          <span>Pièce d'identité </span>
          <span
            *ngIf="!hasIdentite"
            style="font-size: small; opacity: 0.6; margin-left: 5px"
            >(aucun fichier)</span
          >
          <span class="material-icons" *ngIf="hasIdentite">check</span>
        </div>
        <form (click)="toggleOpen('openIdentité')" *ngIf="!hasIdentite">
          <span class="material-icons edit"
            >{{ openIdentite ? "remove" : "add" }}
          </span>
        </form>
      </div>

      <form
        *ngIf="openIdentite && !pieceIdentite"
        (click)="openFileInput(0)"
        class="add-document-input"
      >
        <input
          #fileInput
          class="file-input"
          type="file"
          name="file"
          hidden
          (change)="onFileSelected($event, 'Piece identite')"
        />
        <span class="material-icons edit">cloud_upload</span>
        <p>Ajouter un fichier</p>
      </form>
      <div
        class="document-selected"
        *ngIf="pieceIdentite && !hasIdentite && !isLoading"
      >
        <div class="document-detail">
          <img src="../../../../assets/pdfLogo.png" alt="pdflogo" />
          <p>Pièce d'identité.pdf</p>
        </div>
        <button
          (click)="sendFile('Piece identite')"
          class="btn btn-secondary"
          style="font-size: small"
        >
          Confirmer
        </button>
      </div>
      <div *ngIf="isLoading && !hasIdentite && pieceIdentite">
        <img
          src="../../../../assets/loading.png"
          class="isLoading"
          alt="loading"
          style="width: 20px"
        />
      </div>
      <div class="document mt-3" *ngIf="hasIdentite">
        <div class="document-detail">
          <!-- <span class="material-icons">folder</span> -->
          <img src="../../../../assets/pdfLogo.png" alt="pdflogo" />
          <p>Pièce d'identité.pdf</p>
        </div>

        <div class="document-options">
          <span class="material-icons edit">edit</span>
          <span
            class="material-icons edit"
            (click)="deleteFile('Piece identite.pdf')"
            >delete</span
          >
        </div>
      </div>
      <div *ngIf="isLoadingDeleteIdentite">
        <img
          src="../../../../assets/loading.png"
          class="isLoading"
          alt="loading"
          style="width: 20px"
        />
      </div>
    </div>
    <!-- pour la residance  -->
    <div class="document-add-container mt-3">
      <div class="document">
        <div class="subtitle">
          <span>Fichier de résidence</span>
          <span
            *ngIf="!hasResidence"
            style="font-size: small; opacity: 0.6; margin-left: 5px"
            >(aucun fichier)</span
          >
          <span class="material-icons" *ngIf="hasResidence">check</span>
        </div>
        <form (click)="toggleOpen('openResidance')" *ngIf="!hasResidence">
          <span class="material-icons edit"
            >{{ openResidance ? "remove" : "add" }}
          </span>
        </form>
      </div>

      <form
        *ngIf="openResidance && !residence"
        (click)="openFileInput(1)"
        class="add-document-input"
      >
        <input
          #fileInput1
          class="file-input"
          type="file"
          name="file"
          hidden
          (change)="onFileSelected($event, 'Fichier de residence')"
        />
        <span class="material-icons edit">cloud_upload</span>
        <p>Ajouter un fichier</p>
      </form>
      <div
        class="document-selected"
        *ngIf="residence && !hasResidence && !isLoading"
      >
        <div class="document-detail">
          <img src="../../../../assets/pdfLogo.png" alt="pdflogo" />
          <p>Fichier de résidence.pdf</p>
        </div>
        <button
          (click)="sendFile('Fichier de residence')"
          class="btn btn-secondary"
          style="font-size: small"
        >
          Confirmer
        </button>
      </div>
      <div *ngIf="isLoading && !hasResidence && residence">
        <img
          src="../../../../assets/loading.png"
          class="isLoading"
          alt="loading"
          style="width: 20px"
        />
      </div>
      <div class="document mt-3" *ngIf="hasResidence">
        <div class="document-detail">
          <img src="../../../../assets/pdfLogo.png" alt="pdflogo" />
          <p>Fichier de résidence.pdf</p>
        </div>

        <div class="document-options">
          <span class="material-icons edit">edit</span>
          <span
            class="material-icons edit"
            (click)="deleteFile('Fichier de residence.pdf')"
            >delete</span
          >
        </div>
      </div>
      <div *ngIf="isLoadingDeleteResidence">
        <img
          src="../../../../assets/loading.png"
          class="isLoading"
          alt="loading"
          style="width: 20px"
        />
      </div>
    </div>
    <!-- pour les fiches de paie -->
    <div class="document-add-container mt-3">
      <div class="document">
        <div class="subtitle">
          <span>Fiche de paie</span>
          <span
            *ngIf="!hasPaie"
            style="font-size: small; opacity: 0.6; margin-left: 5px"
            >(aucun fichier)</span
          >
          <span class="material-icons" *ngIf="hasPaie">check</span>
        </div>
        <form (click)="toggleOpen('openFicheDePaieOne')" *ngIf="!hasPaie">
          <span class="material-icons edit"
            >{{ openFicheDePaieOne ? "remove" : "add" }}
          </span>
        </form>
      </div>

      <form
        *ngIf="openFicheDePaieOne && !paie"
        (click)="openFileInput(2)"
        class="add-document-input"
      >
        <input
          #fileInput2
          class="file-input"
          type="file"
          name="file2"
          hidden
          (change)="onFileSelected($event, 'Fiche de paie')"
        />
        <span class="material-icons edit">cloud_upload</span>
        <p>Ajouter un fichier</p>
      </form>
      <div class="document-selected" *ngIf="paie && !hasPaie && !isLoading">
        <div class="document-detail">
          <img src="../../../../assets/pdfLogo.png" alt="pdflogo" />
          <p>Fiche de paie.pdf</p>
        </div>
        <button
          (click)="sendFile('Fiche de paie')"
          class="btn btn-secondary"
          style="font-size: small"
        >
          Confirmer
        </button>
      </div>
      <div *ngIf="isLoading && !hasPaie && paie">
        <img
          src="../../../../assets/loading.png"
          class="isLoading"
          alt="loading"
          style="width: 20px"
        />
      </div>
      <div class="document mt-3" *ngIf="hasPaie">
        <div class="document-detail">
          <img src="../../../../assets/pdfLogo.png" alt="pdflogo" />
          <p>Fiche de paie.pdf</p>
        </div>

        <div class="document-options">
          <span class="material-icons edit">edit</span>
          <span
            class="material-icons edit"
            (click)="deleteFile('Fiche de paie.pdf')"
            >delete</span
          >
        </div>
      </div>
      <div *ngIf="isLoadingDeletePaie && hasPaie && !paie">
        <img
          src="../../../../assets/loading.png"
          class="isLoading"
          alt="loading"
          style="width: 20px"
        />
      </div>
    </div>
    <!-- autre fichier -->
    <div class="document-add-container mt-3">
      <div class="document">
        <div class="subtitle">
          <span>Autre justificatif de revenu</span>
          <span
            *ngIf="!hasAutre"
            style="font-size: small; opacity: 0.6; margin-left: 5px"
            >(aucun fichier)</span
          >
          <span class="material-icons" *ngIf="hasAutre">check</span>
        </div>
        <form (click)="toggleOpen('openAutre')" *ngIf="!hasAutre">
          <span class="material-icons edit"
            >{{ openAutre ? "remove" : "add" }}
          </span>
        </form>
      </div>

      <form
        *ngIf="openAutre && !autre"
        (click)="openFileInput(3)"
        class="add-document-input"
      >
        <input
          #fileInput3
          class="file-input"
          type="file"
          name="file3"
          hidden
          (change)="onFileSelected($event, 'Autre justificatif de revenu')"
        />
        <span class="material-icons edit">cloud_upload</span>
        <p>Ajouter un fichier</p>
      </form>
      <div class="document-selected" *ngIf="autre && !hasAutre && !isLoading">
        <div class="document-detail">
          <img src="../../../../assets/pdfLogo.png" alt="pdflogo" />
          <p>Autre justificatif de revenu.pdf</p>
        </div>
        <button
          (click)="sendFile('Autre justificatif de revenu')"
          class="btn btn-secondary"
          style="font-size: small"
        >
          Confirmer
        </button>
      </div>
      <div *ngIf="isLoading && !hasAutre && autre">
        <img
          src="../../../../assets/loading.png"
          class="isLoading"
          alt="loading"
          style="width: 20px"
        />
      </div>
      <div class="document mt-3" *ngIf="hasAutre">
        <div class="document-detail">
          <img src="../../../../assets/pdfLogo.png" alt="pdflogo" />
          <p>Autre justificatif de revenu.pdf</p>
        </div>

        <div class="document-options">
          <span class="material-icons edit">edit</span>
          <span
            class="material-icons edit"
            (click)="deleteFile('Autre justificatif de revenu.pdf')"
            >delete</span
          >
        </div>
      </div>
      <div *ngIf="isLoadingDeleteAutre && hasAutre && !autre">
        <img
          src="../../../../assets/loading.png"
          class="isLoading"
          alt="loading"
          style="width: 20px"
        />
      </div>
    </div>

    <!-- ancien code -->
    <!-- <div class="document mt-3" *ngIf="!hasIdentite">
      <div class="subtitle">
        <span class="material-icons icon-red">cancel</span>
        <span>Pièce d'identité</span>
      </div>
      <form (click)="openFileInput(0)" *ngIf="!pieceIdentite">
        <input
          #fileInput
          class="file-input"
          type="file"
          name="file"
          hidden
          (change)="onFileSelected($event, 'Pièce d\'identité')"
        />

        <span class="material-icons edit">add_circle</span>
      </form>

      <span
        class="material-icons delete"
        *ngIf="pieceIdentite"
        (click)="sendFile('Pièce d\'identité')"
        >cloud_upload</span
      >
    </div> -->
    <!-- <div class="document mt-3" *ngIf="hasIdentite">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Pièce d'identité</span>
      </div>

      <span class="material-icons edit">edit</span>
      <span
        class="material-icons edit"
        (click)="deleteFile('Pièce d\'identité.pdf')"
        >delete</span
      >
    </div>

    <div class="document mt-3" *ngIf="!hasResidence">
      <div class="subtitle">
        <span class="material-icons icon-red">cancel</span>
        <span>Fichier de résidence</span>
      </div>
      <form (click)="openFileInput(1)" *ngIf="!residence">
        <input
          #fileInput1
          class="file-input"
          type="file"
          name="file1"
          hidden
          (change)="onFileSelected($event, 'Fichier de résidence')"
        />

        <span class="material-icons edit">add_circle</span>
      </form>
      <span
        class="material-icons delete"
        *ngIf="residence"
        (click)="sendFile('Fichier de résidence')"
        >cloud_upload</span
      >
    </div>
    <div class="document mt-3" *ngIf="hasResidence">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Fichier de résidence</span>
      </div>

      <span class="material-icons edit">edit</span>
      <span
        class="material-icons edit"
        (click)="deleteFile('Fichier de résidence.pdf')"
        >delete</span
      >
    </div>
    <div class="document mt-3" *ngIf="!hasPaie">
      <div class="subtitle">
        <span class="material-icons icon-red">cancel</span>
        <span>Fiche de paie </span>
      </div>
      <form (click)="openFileInput(2)" *ngIf="!paie">
        <input
          #fileInput2
          class="file-input"
          type="file"
          name="file2"
          hidden
          (change)="onFileSelected($event, 'Fiche de paie')"
        />

        <span class="material-icons edit">add_circle</span>
      </form>
      <span
        class="material-icons delete"
        *ngIf="paie"
        (click)="sendFile('Fiche de paie')"
        >cloud_upload</span
      >
    </div>
    <div class="document mt-3" *ngIf="hasPaie">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Fiche de paie</span>
      </div>

      <span class="material-icons edit">edit</span>
      <span
        class="material-icons edit"
        (click)="deleteFile('Fiche de paie.pdf')"
        >delete</span
      >
    </div>
    <div class="document mt-3" *ngIf="!hasAutre">
      <div class="subtitle">
        <span class="material-icons icon-red">cancel</span>
        <span>Autre justificatif de revenu</span>
      </div>
      <form (click)="openFileInput(3)" *ngIf="!autre">
        <input
          #fileInput3
          class="file-input"
          type="file"
          name="file3"
          hidden
          (change)="onFileSelected($event, 'Autre justificatif de revenu')"
        />

        <span class="material-icons edit">add_circle</span>
      </form>
      <span
        class="material-icons delete"
        *ngIf="autre"
        (click)="sendFile('Autre justificatif de revenu')"
        >cloud_upload</span
      >
    </div>
    <div class="document mt-3" *ngIf="hasAutre">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Autre justificatif de revenu</span>
      </div>

      <span class="material-icons edit">edit</span>
      <span
        class="material-icons edit"
        (click)="deleteFile('Autre justificatif de revenu.pdf')"
        >delete</span
      >
    </div> -->
  </div>
</div>
