<div class="header d-flex justify-content-center w-100 translate"></div>
<div class="container">
  <div class="add-document mb-3">
    <h3>Pièces jointes</h3>
    <span
      class="material-icons add-icon"
      style="font-size: 50px !important; cursor: pointer"
      >add_circle</span
    >
  </div>
  <div class="document-container">
    <div class="document mt-3">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Pièce d'identité</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete</span>
    </div>
    <div class="document mt-4">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Fiche de paie 1</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete_outline</span>
    </div>

    <div class="document mt-4">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Fiche de paie 2</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete_outline</span>
    </div>

    <div class="document mt-4">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Fiche de paie 3</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete_outline</span>
    </div>

    <div class="document mt-4">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>L'acte de propriété.</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete_outline</span>
    </div>
  </div>
</div>
