<div class="header d-flex justify-content-center w-100 translate"></div>
<div class="container">
  <div class="add-document mb-3">
    <h3>Pièces jointes</h3>
    <form (click)="openFileInput()">
      <input
        #fileInput
        class="file-input"
        type="file"
        name="file"
        hidden
        (change)="onFileSelected($event)"
      /><span class="material-icons add-icon" style="font-size: 50px !important"
        >add_circle</span
      >
    </form>
  </div>
  <div class="document-container">
    <div class="document mt-3" *ngFor="let d of files">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>{{ d?.name }}</span>
      </div>
      <span class="material-icons edit" (click)="removeFile(d)">cancel</span>
      <span class="material-icons delete" (click)="sendFile(d)"
        >cloud_upload</span
      >
    </div>
    <div class="document mt-3" *ngFor="let d of folderValue.attachedFiles">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>{{ d.fileName }} {{ d?.name }}</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete</span>
    </div>

    <!--  <div class="document mt-4">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Fiche de paie 1</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete_outline</span>
    </div>

    <div class="document mt-4">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Fiche de paie 2</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete_outline</span>
    </div>

    <div class="document mt-4">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>Fiche de paie 3</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete_outline</span>
    </div>

    <div class="document mt-4">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>L'acte de propriété.</span>
      </div>
      <span class="material-icons edit">edit</span>
      <span class="material-icons delete">delete_outline</span>
    </div> -->
  </div>
</div>
