@keyframes translate {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate {
  animation: translate 0.5s ease;
}

.container-inscription {
  width: 85%;
  padding: 1%;
  margin: 0 auto;
  max-height: 90%;
  overflow-y: auto;
  height: 90%;
}
.container-connexion {
  width: 85%;
  padding: 1%;
  margin: 0 auto;
  max-height: 90%;
  overflow-y: auto;
  height: 90%;
}

.forms {
  width: 90%;
  margin: 0 auto;
}

.container-inscription input {
  margin-top: 2%;
  /* box-shadow: 0 0 5px 1px rgba(126, 125, 125, 0.24); */
  width: 100%; /* Utiliser la largeur complète du conteneur parent */
  box-shadow: none;
  /* padding: 10px; */
  /* border-radius: 12px; */
}
select {
  margin-top: 2%;
  /* box-shadow: 0 0 5px 1px rgba(126, 125, 125, 0.24); */
  width: 100%; /* Utiliser la largeur complète du conteneur parent */
  /* padding: 10px; */
  /* border-radius: 12px; */
  box-shadow: none;
}

.input-container {
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container .form-group {
  flex: 1; /* Distribuer l'espace également entre les éléments enfants */
  margin-left: 8px; /* Ajouter une marge entre les éléments */
  margin: auto;
}
label {
  font-size: 1.2vw;
  color: rgb(109, 109, 109);
  font-weight: 500;
  margin-left: 1%;
}
.form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1%;
  width: 100%;
}
.question-container {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}
.suppositions-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.supposition {
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 8px;
  padding: 6px;
  width: 42%;
  color: rgb(145, 142, 142);
}

.question {
  font-size: small;
  font-weight: 600;
}
span {
  cursor: pointer;
  border-radius: 12px;
  padding: 10px;
  transition: 0.6s ease;
}
span:hover {
  transform: scale(1.03);
}
.selected {
  border-color: rgba(114, 33, 130, 1);
  color: rgba(114, 33, 130, 1);
}
.notice {
  border: 0.6px solid rgba(255, 0, 0, 0.596);
  background-color: rgba(255, 0, 0, 0.075);
  border-radius: 10px;
  padding: 20px;
  margin-top: 2%;
  text-align: justify;
}
.text-notice {
  font-size: small;
  font-weight: 600;
  color: rgb(214, 3, 3);
}
.terms {
  width: 60%;
  margin: 0 auto;
  font-size: small;
  font-weight: 400;
  text-align: center;
}
.condition {
  color: #722182;
  font-size: small;
  cursor: pointer;
  font-weight: 600;
}

.button-container {
  width: 70%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errForm {
  border: 0.6px solid red;
  color: red;
}
.errForm::placeholder {
  color: red;
}
.err-msg {
  color: red;
  font-size: small;
  font-weight: 600;
}
.btn {
  width: 100%;
}
.btn1 {
  border: 1px solid #722182;
  border-radius: 20px;
  font-size: large;
}
.btn2 {
  background-color: #722182;
  box-shadow: 0px -12px 16px 8px rgba(0, 0, 0, 0.25) inset;
  color: white;
  border-radius: 20px;
  margin-top: 2%;
  font-size: large;
}

/* pour la connexion */
.body-container {
  width: 60%;
  margin: auto;
  border-radius: 15px;
}
.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  margin-top: 3%;
}
.body-container p {
  text-align: center !important;
  text-shadow: 0 0 2px #74248494;
  letter-spacing: 1px;
  width: 100%;
}
.body-container input {
  /* border-radius: 12px; */
  /* padding: 10px; */
  /* box-shadow: 0 0 5px 1px rgba(126, 125, 125, 0.24); */
  box-shadow: none;
}
.forgot-password-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  justify-content: end;
  margin: 0 auto;
}

.forgot-password {
  width: 50%;
  text-align: end;
  color: #742484;
  font-weight: 400;
  cursor: pointer;
  font-size: small;
}
.connexion-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.connexion-button-container button {
  width: 50%;
  background-color: #722182;
  box-shadow: 0px -12px 16px 8px rgba(0, 0, 0, 0.25) inset;
  color: white;
  border-radius: 20px;
  margin-top: 2%;
  font-size: large;
}
.connexion-button-container button:hover {
  box-shadow: 0px -12px 16px 8px rgba(0, 0, 0, 0.158) inset;
  background-color: #642072;
}
.inscription-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.inscription {
  width: 35%;
  text-align: center;
  color: #742484;
  font-weight: 600;
  cursor: pointer;
  font-size: small;
}
.inscription:hover {
  transform: none;
  text-decoration: underline;
}
/* fin connexion */
/* pour la responsivité  */
@media screen and (max-width: 1000px) {
  .container-inscription {
    width: 90%;
  }
  .container-connexion {
    width: 95%;
    padding: 0;
  }
  .body-container {
    margin-top: 5%;
    width: 70%;
  }
  .body-container input {
    margin: 0 auto;
    width: 90%;
  }
  .forgot-password-container {
    width: 90%;
  }
  .forgot-password {
    width: 50%;
  }
  .forms {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .container-inscription {
    width: 95%;
    padding: 0;
  }
  .container-connexion {
    width: 95%;
    padding: 0;
  }
  .body-container {
    margin-top: 5%;
    width: 70%;
  }
  .body-container input {
    margin: 0 auto;
    width: 90%;
  }
  .forms {
    width: 100% !important;
  }
}
@media screen and (max-width: 600px) {
  .container-inscription {
    width: 99%;
    padding: 0;
  }
  .body-container {
    margin-top: 5%;
    width: 90%;
  }
  .body-container input {
    width: 90%;
  }
  .forgot-password {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .container-connexion {
    margin-top: 5%;
  }
  .body-container {
    margin-top: 5%;
    width: 100%;
  }
}
