.container {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

.ui-w-80 {
  width: 120px !important;
  height: auto;
}
.informations-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.informations-container p {
  font-size: small;
  opacity: 0.7;
}
.informations-container h3 {
  font-weight: 500;
}
label {
  font-size: small;
  font-weight: 600;
}

.list-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.list-button-container a {
  text-align: start;
  font-size: small;
  margin-top: 10%;
  cursor: pointer;
  padding: 5%;
  margin-left: 5%;
}
.list-button-container a:hover {
  background-color: #b2b7cf86;
  border-radius: 10px;
}
.button-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.btn {
  width: 60%;
}
.btn1 {
  border: 1px solid #722182;
  border-radius: 20px;
  font-size: large;
}
.btn2 {
  background-color: #722182;
  color: white;
  border-radius: 20px;
  margin-top: 1%;
  font-size: medium;
  box-shadow: 0px -12px 16px 8px rgba(0, 0, 0, 0.25) inset;
}
.text-light {
  color: #babbbc !important;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
  height: 95%;
}
