<div class="details-info">
  <div class="numero">Dossier n° : 1125</div>
  <div class="details-column">
    <div class="title-container name">
      <label>Nom:</label>
      <!-- <div>Achat d'un F4</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="Achat d'un F4"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Type du client :</label>
      <!-- <div>particulier</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="particulier"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Type du financement :</label>
      <!-- <div>Financement traditionnel (conventionnel)</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="Financement traditionnel (conventionnel)"
        disabled
      />
    </div>

    <div class="title-container">
      <label>Type du crédit :</label>
      <!-- <div>consom</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="consom"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Durée du financement :</label>
      <!-- <div>4 années</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="4 années"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Date de création :</label>
      <!-- <div>01/01/2024</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="01/01/2024"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Statut :</label>
      <!-- <div>Dossier complet</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="Dossier complet"
        disabled
      />
    </div>
  </div>
</div>
