<div class="container-fluid">
  <div class="navbar">
    <span class="material-icons navbar-icons-header" (click)="goBack()"
      >arrow_back_ios</span
    >
    <div class="navbar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
    <div class="container-avatar">
      <div class="container-avatar-information">
        <div class="avatar">
          <img src="../../assets/avatar.png" alt="avatar" />
        </div>
        <div class="information">
          <span class="name">{{ client?.nom }} {{ client?.prenom }}</span>
          <p class="email">{{ client?.email }}</p>
        </div>
        <div class="logout" (click)="setToggleOption()">
          <span class="material-icons">
            {{ toggleOptions ? "arrow_drop_up" : "arrow_drop_down" }}
          </span>
        </div>
        <div class="toggle-option scale-in" *ngIf="toggleOptions">
          <div
            class="toggle-option-arriere-plan"
            (click)="setToggleOption()"
          ></div>
          <span [routerLink]="['/client']">Mon espace</span>
          <hr style="width: 80%; margin: 5px auto 5px; opacity: 0.1" />
          <span (click)="logout()">Déconnexion</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="bg-fond"></div> -->
  <div class="sidebar">
    <div class="sidebar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>

    <div class="sidebar-sections">
      <div class="sections">
        <div class="container-text">
          <span class="material-icons sidebar-icons">{{
            url === "/simulation/immobilier" ||
            url === "/simulation/consomation" ||
            url === "/simulation/form" ||
            url === "/simulation/result" ||
            url === "/simulation/notice" ||
            url === "/simulation/register" ||
            url === "/simulation/confirmation" ||
            url === "/simulation/success" ||
            url.includes("/simulation/formConsomation/") ||
            url === "/simulation/formConsomation" ||
            url === "/simulation/islamique-vehicule" ||
            url === "/simulation/islamique-moto" ||
            url === "/simulation/islamique-form" ||
            url.includes("/simulation/form/")
              ? "check"
              : "arrow_forward_ios"
          }}</span>
          <span
            class="sidebar-text"
            [ngClass]="{
              sidebarScal:
                url === '/simulation/type' ||
                url === '/simulation/immobilier' ||
                url === '/simulation/consomation' ||
                url.includes('/simulation/formConsomation/') ||
                url === '/simulation/form' ||
                url === '/simulation/result' ||
                url === '/simulation/notice' ||
                url === '/simulation/register' ||
                url === '/simulation/confirmation' ||
                url === '/simulation/upload' ||
                url === '/simulation/success' ||
                url === '/simulation/formConsomation' ||
                url === '/simulation/islamique' ||
                url === '/simulation/islamique-vehicule' ||
                url === '/simulation/islamique-moto' ||
                url === '/simulation/islamique-form' ||
                url.includes('/simulation/form/')
            }"
            >Type de financement</span
          >
        </div>
        <div class="container-text">
          <span class="material-icons sidebar-icons">
            {{
              url === "/simulation/form" ||
              url === "/simulation/result" ||
              url === "/simulation/notice" ||
              url === "/simulation/register" ||
              url === "/simulation/confirmation" ||
              url === "/simulation/success" ||
              url === "/simulation/formConsomation" ||
              url === "/simulation/islamique-form" ||
              url.includes("/simulation/form/")
                ? "check"
                : "arrow_forward_ios"
            }}
          </span>
          <span
            class="sidebar-text"
            [ngClass]="{
              sidebarScal:
                url === '/simulation/immobilier' ||
                url === '/simulation/consomation' ||
                url === '/simulation/form' ||
                url === '/simulation/result' ||
                url === '/simulation/notice' ||
                url === '/simulation/register' ||
                url === '/simulation/confirmation' ||
                url === '/simulation/upload' ||
                url === '/simulation/success' ||
                url === '/simulation/formConsomation' ||
                url.includes('/simulation/formConsomation/') ||
                url === '/simulation/islamique' ||
                url === '/simulation/islamique-vehicule' ||
                url === '/simulation/islamique-moto' ||
                url === '/simulation/islamique-form' ||
                url.includes('/simulation/form/')
            }"
            >Projet à financer</span
          >
        </div>
        <div class="container-text">
          <span class="material-icons sidebar-icons">
            {{
              url === "/simulation/result" ||
              url === "/simulation/notice" ||
              url === "/simulation/register" ||
              url === "/simulation/confirmation" ||
              url === "/simulation/upload" ||
              url === "/simulation/success"
                ? "check"
                : "arrow_forward_ios"
            }}
          </span>
          <span
            class="sidebar-text"
            [ngClass]="{
              sidebarScal:
                url === '/simulation/form' ||
                url === '/simulation/result' ||
                url === '/simulation/notice' ||
                url === '/simulation/register' ||
                url === '/simulation/confirmation' ||
                url === '/simulation/upload' ||
                url === '/simulation/success' ||
                url === '/simulation/formConsomation' ||
                url.includes('/simulation/formConsomation/') ||
                url === '/simulation/islamique-form' ||
                url.includes('/simulation/form/')
            }"
            >Simuler votre credit</span
          >
        </div>
        <div class="container-text">
          <span class="material-icons sidebar-icons">
            {{
              url === "/simulation/notice" ||
              url === "/simulation/register" ||
              url === "/simulation/confirmation" ||
              url === "/simulation/upload" ||
              url === "/simulation/success"
                ? "check"
                : "arrow_forward_ios"
            }}
          </span>
          <span
            class="sidebar-text"
            [ngClass]="{
              sidebarScal:
                url === '/simulation/result' ||
                url === '/simulation/notice' ||
                url === '/simulation/register' ||
                url === '/simulation/confirmation' ||
                url === '/simulation/upload' ||
                url === '/simulation/success'
            }"
            >Résultat de la simulation</span
          >
        </div>
      </div>

      <div class="sections">
        <hr
          style="
            width: 100%;
            margin: 0 auto;
            color: rgb(163, 159, 159);
            border: 1px solid;
          "
        />
      </div>

      <div class="sections">
        <div class="container-text">
          <span class="material-icons sidebar-icons">
            {{
              url === "/simulation/confirmation" ||
              url === "/simulation/upload" ||
              url === "/simulation/success"
                ? "check"
                : "arrow_forward_ios"
            }}
          </span>
          <span
            class="sidebar-text"
            [ngClass]="{
              sidebarScal:
                url === '/simulation/register' ||
                url === '/simulation/confirmation' ||
                url === '/simulation/upload' ||
                url === '/simulation/success'
            }"
            >Inscriptions</span
          >
        </div>
        <div class="container-text">
          <span class="material-icons sidebar-icons">
            {{
              url === "/simulation/upload" || url === "/simulation/success"
                ? "check"
                : "arrow_forward_ios"
            }}
          </span>
          <span
            class="sidebar-text"
            [ngClass]="{
              sidebarScal:
                url === '/simulation/confirmation' ||
                url === '/simulation/upload' ||
                url === '/simulation/success'
            }"
            >Confirmation email</span
          >
        </div>
        <div class="container-text">
          <span class="material-icons sidebar-icons">
            {{ url === "/simulation/success" ? "check" : "arrow_forward_ios" }}
          </span>
          <span
            class="sidebar-text"
            [ngClass]="{
              sidebarScal:
                url === '/simulation/upload' || url === '/simulation/success'
            }"
            >Chargement des documents</span
          >
        </div>
      </div>
    </div>
  </div>
  <nav
    style="
      --bs-breadcrumb-divider: url(
        &#34;data:image/svg + xml,
        %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
      );
      width: 100%;
    "
    aria-label="breadcrumb"
  >
    <ol class="breadcrumb">
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/immobilier' ||
            url === '/simulation/consomation' ||
            url === '/simulation/type' ||
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation' ||
            url.includes('/simulation/formConsomation/') ||
            url === '/simulation/islamique-vehicule' ||
            url === '/simulation/islamique-moto' ||
            url === '/simulation/islamique' ||
            url.includes('/simulation/form/')
        }"
      >
        Type de financement
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/immobilier' ||
            url === '/simulation/consomation' ||
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation' ||
            url.includes('/simulation/formConsomation/') ||
            url === '/simulation/islamique-vehicule' ||
            url === '/simulation/islamique-moto' ||
            url === '/simulation/islamique' ||
            url === '/simulation/islamique-form' ||
            url.includes('/simulation/form/')
        }"
      >
        Projet à financer
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/form' ||
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success' ||
            url === '/simulation/formConsomation' ||
            url.includes('/simulation/formConsomation/') ||
            url === '/simulation/islamique-form' ||
            url.includes('/simulation/form/')
        }"
      >
        Simuler votre credit
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/result' ||
            url === '/simulation/notice' ||
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
      >
        Résultat de la simulation
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/register' ||
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
      >
        Inscriptions
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/confirmation' ||
            url === '/simulation/upload' ||
            url === '/simulation/success'
        }"
      >
        Confirmation email
      </li>
      <li
        class="breadcrumb-item"
        aria-current="page"
        [ngClass]="{
          currentNav:
            url === '/simulation/upload' || url === '/simulation/success'
        }"
      >
        Chargement des documents
      </li>
    </ol>
  </nav>
  <div
    class="card-container scale-in"
    [ngClass]="{ 'card-container-no-transform': toggleOptions }"
  >
    <div class="logo-container mb-2">
      <span class="material-icons icons-header" (click)="goBack()"
        >arrow_back_ios</span
      >
      <div
        class="container-progressBar-avatar"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div class="bar">
          <input
            class="bar-input"
            type="radio"
            name="input"
            id="input_0"
            [checked]="url === '/simulation/upload'"
            disabled
          />
          <div class="bar-view">
            <label class="bar-button" for="input_0"></label>
          </div>
          <input
            class="bar-input"
            type="radio"
            name="input"
            id="input_1"
            [checked]="url === '/simulation/confirmation'"
            disabled
          />
          <div class="bar-view">
            <label class="bar-button" for="input_1"></label>
          </div>
          <input
            class="bar-input"
            type="radio"
            name="input"
            id="input_2"
            [checked]="url === '/simulation/register'"
            disabled
          />
          <div class="bar-view">
            <label class="bar-button" for="input_2"> </label>
          </div>
          <input
            class="bar-input"
            type="radio"
            name="input"
            id="input_3"
            [checked]="
              url === '/simulation/result' || url === '/simulation/notice'
            "
            disabled
          />
          <div class="bar-view">
            <label class="bar-button" for="input_3"></label>
          </div>
          <input
            class="bar-input"
            type="radio"
            name="input"
            id="input_4"
            [checked]="
              url === '/simulation/type' ||
              url === '/simulation/immobilier' ||
              url === '/simulation/consomation' ||
              url === '/simulation/form' ||
              url === '/simulation/formConsomation' ||
              url.includes('/simulation/formConsomation/') ||
              url === '/simulation/islamique' ||
              url === '/simulation/islamique-form' ||
              url === '/simulation/islamique-vehicule' ||
              url === '/simulation/islamique-moto' ||
              url.includes('/simulation/form/')
            "
            disabled
          />
          <div class="bar-view">
            <label class="bar-button" for="input_4"></label>
          </div>
        </div>
        <div class="container-avatar container-avatar-hidden" *ngIf="isLoged">
          <div class="container-avatar-information">
            <div class="avatar">
              <img src="../../assets/avatar.png" alt="avatar" />
            </div>
            <div class="information">
              <span class="name">{{ client?.nom }} {{ client?.prenom }}</span>
              <p class="email">{{ client?.email }}</p>
            </div>
            <div class="logout" (click)="setToggleOption()">
              <span class="material-icons">
                {{ toggleOptions ? "arrow_drop_up" : "arrow_drop_down" }}
              </span>
            </div>
            <div class="toggle-option scale-in" *ngIf="toggleOptions">
              <div
                class="toggle-option-arriere-plan"
                (click)="setToggleOption()"
              ></div>
              <span [routerLink]="['/client']">Mon espace</span>
              <hr style="width: 80%; margin: 5px auto 5px; opacity: 0.1" />
              <span (click)="logout()">Déconnexion</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="toggle-option-small-device scale-in" *ngIf="toggleOptions">
      <div
        class="background-toggle-option-modal"
        (click)="setToggleOption()"
      ></div>
      <div class="toggle-option-modal">
        <span>Mon espace</span>
        <hr style="width: 80%; margin: 5px auto 5px; opacity: 0.1" />
        <span>Déconnexion</span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
