<div class="details-info">
  <div class="numero">Dossier n° : {{ folderValue.id }}</div>
  <div class="details-column">
    <div class="title-container">
      <label>Nom:</label>
      <div>{{ folderValue.client.nom }}</div>
    </div>
    <div class="title-container">
      <label>Prénom:</label>
      <div>{{ folderValue.client.prenom }}</div>
    </div>

    <div class="title-container">
      <label>Date de naissance:</label>
      <div>07/07/1997</div>
    </div>

    <div class="title-container">
      <label>Adresse email :</label>
      <div>{{ folderValue.client.email }}</div>
    </div>

    <div class="title-container">
      <label>Numéro de télephone</label>
      <div>{{ folderValue.client.telephone }}</div>
    </div>
    <div class="title-container">
      <label>Nationnalité :</label>
      <div>{{ folderValue.client.nationalite }}</div>
    </div>
    <div class="title-container">
      <label>Adresse</label>
      <div>{{ folderValue.client.adresse }}</div>
    </div>
    <div class="title-container">
      <label>Code postal</label>
      <div>{{ folderValue.client.codePostal }}</div>
    </div>
  </div>
</div>
