<div class="container translate">
  <div class="header d-flex justify-content-center w-100">
    <div class="title">Veuillez introduire vos paramètres de calcul</div>
  </div>
  <div class="forms">
    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingInputGrid"
        placeholder="name@example.com"
        value="mdo@example.com"
      />
      <label for="floatingInputGrid">Montant de l'habitation *</label>
    </div>
    <div class="input-container">
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="floatingInputGrid"
          placeholder="name@example.com"
          value="mdo@example.com"
        />
        <label for="floatingInputGrid">Revenue de l'emprunteur *</label>
      </div>
      <div class="form-floating" style="margin-left: 10px">
        <input
          type="number"
          class="form-control"
          id="floatingInputGrid"
          placeholder=""
          value=""
        />
        <label for="floatingInputGrid">Revenue de co-emprunteur *</label>
      </div>
    </div>

    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingInputGrid"
        placeholder=""
        value=""
      />
      <label for="floatingInputGrid">Votre age *</label>
    </div>
    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingInputGrid"
        placeholder=""
        value=""
      />
      <label for="floatingInputGrid">La durée de financement *</label>
    </div>
    <label class="questions" for="">Avez vous un patrimoine immobilier ?</label>
    <div class="input-container">
      <div class="form-group">
        <span class="form-control"> Oui</span>
      </div>
      <div class="form-group" style="margin-left: 8px">
        <span class="form-control">Non</span>
      </div>
    </div>
    <label for="">Avez vous un autre financement en cours ?</label>
    <div class="input-container">
      <div class="form-group">
        <span class="form-control"> Oui</span>
      </div>
      <div class="form-group" style="margin-left: 8px">
        <span class="form-control">Non</span>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-primary" [routerLink]="['/simulation/result']">
        Lancer la simulation
      </button>
    </div>
  </div>
</div>
