<div class="header d-flex justify-content-center translate mb-5">
  <div class="title">Importez vos fichiers PDF</div>
  <span>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque fugiat quia
    quas natus, veniam explicabo. Reprehenderit beatae est ab quibusdam pariatur
    optio provident neque atque temporibus iure? Excepturi perferendis odit
    similique, beatae ducimus consectetur porro modi.
  </span>
</div>
<div class="file">
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile01" />
  </div>
</div>
<div class="btn-container">
  <button class="btn">Envoyez</button>
</div>
