<div class="header d-flex justify-content-center translate mb-5">
  <div class="title">Importez vos fichiers PDF</div>
  <span class="subtitle">
    Il ne vous reste qu'une étape ! Soumettez vos documents en format PDF pour
    finaliser le processus et accéder à tous les avantages de votre compte
  </span>
</div>
<div class="file">
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile01" />
  </div>
</div>
<div class="btn-container">
  <button class="btn" [routerLink]="['/simulation/confirmation']">
    Envoyez
  </button>
</div>
