<nav>
  <ul>
    <li>
      <a class="logo">
        <img src="../../assets/bankLogo.png" />
      </a>
    </li>
    <li>
      <a class="nav-txt" (click)="navigateDash()">
        <span class="material-icons">dashboard</span>
        <span class="nav-item"> Dashboard</span>
      </a>
    </li>
    <li>
      <a class="nav-txt" (click)="navigateCredit()">
        <span class="material-icons">assessment</span>
        <span class="nav-item"> Demander un crédit </span>
      </a>
    </li>
    <li>
      <a class="nav-txt" (click)="navigateProfile()">
        <span class="material-icons">people</span>
        <span class="nav-item"> Mon profile </span>
      </a>
    </li>
  </ul>
</nav>
