<div class="navbar">
  <div class="left">
    <span>{{ getTitle() }}</span>
  </div>
  <div class="right">
    <div class="avatar">
      <img src="../../../assets/avatar.png" alt="avatar" />
    </div>
    <div class="information">
      <span class="name">{{userRole}}</span>
      <!-- Bind the userNin variable to display the nin -->
      <p class="email">{{ userNin }}</p>
    </div>
    <div class="logout">
      <span class="material-icons"> arrow_drop_down </span>
    </div>
  </div>
</div>
