<div class="navbar-card-container">
  <div class="left">
    <span>{{ getTitle() }}</span>
  </div>
  <div class="right">
    <div class="avatar">
      <img src="../../../assets/avatar.png" alt="avatar" />
    </div>
    <div class="information">
      <span class="name">{{ userRole }}</span>
      <p class="email">{{ userNin }}</p>
    </div>
    <div class="logout">
      <span class="material-icons" (click)="logout()"> logout </span>
    </div>
  </div>
</div>

<!-- <div class="right">
  <div class="avatar">
    <img src="../../../assets/avatar.png" alt="avatar" />
  </div>
  <div class="information">
    <span class="name">{{ client?.nom }} {{ client?.prenom }}</span>
    <p class="email">{{ client?.email }}</p>
  </div>
  <div class="logout"></div>
</div> -->
