<div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="title-container">bien venu mr Khelf Ferhat</div>
  <div class="card-container">
    <div class="cards">
      <div class="card">
        <span class="material-icons"> folder </span>
        <p>mes dossier</p>
      </div>
      <div class="card">
        <span class="material-icons"> person </span>
        <p>mon profile</p>
      </div>
      <div class="card">
        <span class="material-icons"> assessment </span>
        <p>Crédit</p>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <span class="material-icons"> exit_to_app </span>
        <p>Deconnexion</p>
      </div>
    </div>
  </div>
</div>
