<div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="title-container">bien venu mr Khelf Ferhat</div>
  <div class="card-container">
    <div class="row cards translate">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <span class="material-icons">folder</span>
          <p>Mes dossier</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <span class="material-icons"> person </span>

          <p>Mon profile</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <span class="material-icons"> assessment </span>

          <p>Crédit</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <span class="material-icons"> exit_to_app</span>

          <p>Deconnexion</p>
        </div>
      </div>
    </div>
  </div>
</div>
