.container-fluid {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/* Style the title container */
.title-container {
  display: flex;

  justify-content: center;

  margin-top: 50px;
  font-size: 24px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 1px rgba(43, 41, 41, 0.479);
  height: 150px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.special-card {
  box-shadow: 0 0 15px 1px rgba(43, 41, 41, 0.479);
  background-color: #a1188f;
  color: #fff;
}

/* Style icons */
.material-icons {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Style text inside cards */
.txt {
  display: block;
  font-size: 16px;
}

/* Style the logout and history columns */
.class2-container .col {
  margin-bottom: 15px;
}

/* Add a hover effect to cards */
.card:hover {
  background-color: #f9f9f9;
}
