<div class="container translate">
  <div class="add-document mb-1">
    <h3>Pièces jointes</h3>
    <span class="material-icons add-icon" style="font-size: 25px !important"
      >attach_file</span
    >
  </div>
  <div class="document-container">
    <div class="document mt-3" *ngFor="let d of folderValue?.attachedFiles">
      <div class="subtitle">
        <span class="material-icons">check_circle</span>
        <span>{{ d?.fileName }} </span>
      </div>
      <a
        class="material-icons edit"
        target="_blank"
        rel="noopener noreferrer"
        download
        (click)="downloadFile(d)"
        >download</a
      >
    </div>
  </div>
</div>
