<div class="container-fluid">
  <div class="navbar">
    <img
      src="../.../../../../assets/sidebarLaterlShow.png"
      class="lateralsidebarshow"
      alt="lateralsidebarshow"
      (click)="toggleSidebar()"
    />
    <div class="navbar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
  </div>
  <div class="sidebar">
    <div class="sidebar-logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>

    <div class="sections">
      <div
        class="container-text"
        [routerLink]="['/courtier/dashboard']"
        [ngClass]="{ 'special-class': url === '/courtier/dashboard' }"
      >
        <span class="material-icons sidebar-icons">dashboard</span>
        <span class="sidebar-text"> Dashboard</span>
      </div>

      <div
        class="container-text"
        [routerLink]="['/courtier/dossier']"
        [ngClass]="{ 'special-class': url === '/courtier/dossier' }"
      >
        <div class="folder-container">
          <span class="material-icons sidebar-icons"> folder </span>
          <span class="sidebar-text">Liste des dossiers</span>
        </div>
        <span class="badge rounded-pill text-bg-light">{{
          Folders.length
        }}</span>
      </div>

      <div
        class="container-text"
        [routerLink]="['/courtier/mes-dossier']"
        [ngClass]="{ 'special-class': url === '/courtier/mes-dossier' }"
      >
        <div class="folder-container">
          <span class="material-icons sidebar-icons"> folder </span>
          <span class="sidebar-text">Mes dossiers</span>
        </div>
        <span class="badge rounded-pill text-bg-light">{{
          myFolders.length
        }}</span>
      </div>
      <div
        class="container-text"
        [routerLink]="['/courtier/profile']"
        [ngClass]="{ 'special-class': url === '/courtier/profile' }"
      >
        <span class="material-icons sidebar-icons"> account_circle </span>

        <span class="sidebar-text">Mon profile</span>
      </div>
    </div>
  </div>
  <div>
    <div
      *ngIf="isSidebarOpen"
      class="sideBar-lateral-container"
      (click)="toggleSidebar()"
    ></div>
    <div
      class="sideBar-lateral translateSideBar"
      [ngClass]="{
        translateSideBar: isSidebarOpen,
        translateSideBarHidden: !isSidebarOpen
      }"
    >
      <div class="sidebar-lateral-header">
        <span class="material-icons" (click)="toggleSidebar()">close</span>
      </div>

      <hr class="mt-5 mb-5" style="width: 80%; margin: 0 auto" />
      <div class="sidebar-lateral-sections">
        <div
          class="sidebar-lateral-container-text"
          [routerLink]="['/courtier/dashboard']"
          [ngClass]="{
            'sidebar-lateral-special-class': url === '/courtier/dashboard'
          }"
        >
          <span class="material-icons sidebar-icons">dashboard</span>
          <span class="sidebar-text"> Dashboard</span>
        </div>

        <div
          class="sidebar-lateral-container-text"
          [routerLink]="['/courtier/dossier']"
          [ngClass]="{
            'sidebar-lateral-special-class': url === '/courtier/dossier'
          }"
        >
          <div class="folder-container">
            <span class="material-icons sidebar-icons"> folder </span>
            <span class="sidebar-text">Liste des dossiers</span>
          </div>
          <span
            class="badge rounded-pill text-bg-light"
            style="font-size: small; margin-right: 1%"
            >{{ Folders.length }}</span
          >
        </div>

        <div
          class="sidebar-lateral-container-text"
          [routerLink]="['/courtier/mes-dossier']"
          [ngClass]="{
            'sidebar-lateral-special-class': url === '/courtier/mes-dossier'
          }"
        >
          <div class="folder-container">
            <span class="material-icons sidebar-icons"> folder </span>
            <span class="sidebar-text">Mes dossiers</span>
          </div>
          <span
            class="badge rounded-pill text-bg-light"
            style="font-size: small; margin-right: 1%"
            >{{ myFolders.length }}</span
          >
        </div>
        <div
          class="sidebar-lateral-container-text"
          [routerLink]="['/courtier/profile']"
          [ngClass]="{
            'sidebar-lateral-special-class': url === '/courtier/profile'
          }"
        >
          <span class="material-icons sidebar-icons"> account_circle </span>
          <span class="sidebar-text">Mon profile</span>
        </div>
      </div>

      <div class="sidebar-lateral-footer">
        <div class="information-container">
          <div class="avatar">
            <img src="../../../assets/avatar.png" alt="avatar" />
          </div>
          <div class="information">
            <span class="name">Banquier</span>
          </div>
        </div>
        <div class="logout">
          <span class="material-icons" (click)="logout()"> logout </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container scale-in">
    <router-outlet></router-outlet>
  </div>
</div>
