<div class="details-info">
  <div class="numero">Dossier n°: {{ folderValue?.id }}</div>
  <div class="details-column">
    <div class="title-container">
      <label>Montant du crédit souhaité :</label>
      <!-- <div>8 000 000 DZD</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.montantHabitation | number : '1.0-0' }} DZD"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Crédit souhaité:</label>
      <!-- <div>2 000 000 DZD</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.creditSouhaite | number : '1.0-0' }} DZD"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Revenu de l'emprunteur :</label>
      <!-- <div>150 000 DZD</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.revenueEmprunteur | number : '1.0-0' }} DZD"
        disabled
      />
    </div>

    <div class="title-container">
      <label>Revenu du co-emprunteur :</label>
      <!-- <div>0 DZD</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.revenueCoEmprunteur | number : '1.0-0' }} DZD"
        disabled
      />
    </div>

    <div class="title-container">
      <label>Patrimoine imobilier</label>
      <!-- <div>0 DZD</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{
          folderValue?.montantRevenueImmobilier | number : '1.0-0'
        }} DZD"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Durée du financement :</label>
      <!-- <div>4 années</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.dureeFinancement }} années"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Autres crédit en cours :</label>
      <!-- <div>0 DZD</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.montantAutreCredit | number : '1.0-0' }} DZD"
        disabled
      />
    </div>
  </div>
</div>
