<div class="header d-flex justify-content-center w-100 translate">
  <h2 class="title">Type de financement</h2>
</div>
<div class="row cards translate">
  <div class="col">
    <div
      class="card"
      (click)="onClickType('ijaraTamilikiya')"
      [routerLink]="['/simulation/islamique-form/16']"
    >
      <p>Ijara Tamlikia</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>

    <div
      class="card"
      (click)="onClickType('morabahaVehicule')"
      [routerLink]="['/simulation/islamique-vehicule']"
    >
      <p>Morabaha véhicule</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
    <div
      class="card"
      (click)="onClickType('morabaharaMoto')"
      [routerLink]="['/simulation/islamique-moto']"
    >
      <p>Morabaha moto</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
    <div
      class="card"
      (click)="onClickType('morabahaIstihlakiya')"
      [routerLink]="['/simulation/islamique-form/19']"
    >
      <p>Morabaha Istihlakiya</p>
      <span class="material-icons">arrow_forward_ios</span>
    </div>
  </div>
</div>
