<div class="details-info">
  <div class="numero">Dossier n° : {{ folderValue.id }}</div>
  <div class="details-column">
    <div class="title-container">
      <label>Montant du crédit souhaité :</label>
      <div>{{ folderValue.montantHabitation }} DZD</div>
    </div>
    <div class="title-container">
      <label>Crédit souhaité:</label>
      <div>{{ folderValue.creditSouhaite }} DZD</div>
    </div>
    <div class="title-container">
      <label>Revenu de l'emprunteur :</label>
      <div>{{ folderValue.revenueEmprunteur }} DZD</div>
    </div>

    <div class="title-container">
      <label>Revenu du co-emprunteur :</label>
      <div>{{ folderValue.revenueCoEmprunteur }} DZD</div>
    </div>

    <div class="title-container">
      <label>Patrimoine imobilier</label>
      <div>{{ folderValue.montantRevenueImmobilier }} DZD</div>
    </div>
    <div class="title-container">
      <label>Durée du financement :</label>
      <div>{{ folderValue.dureeFinancement }} années</div>
    </div>
    <div class="title-container">
      <label>Autres crédit en cours :</label>
      <div>{{ folderValue.montantAutreCredit }} DZD</div>
    </div>
  </div>
</div>
