@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* @import "../node_modules/material-icons/iconFont/material-icons.css"; */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  /* background-color: #f6f5f4; */
  background-color: #f0f0f0;
}

* {
  /* font-family: "Franklin Gothic small", "Arial Narrow", Arial, sans-serif; */
  font-family: "basier_circle_regular", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
input {
  transition: 0.3s ease !important;
  /* background-color: #f5f1f1 !important; */
  color: black !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}
input::placeholder {
  color: rgb(134, 132, 132);
}
input:focus {
  transform: scale(1.03);
}
select {
  transition: 0.3s ease !important;
}
select:focus {
  transform: scale(1.03);
  box-shadow: none !important;
}
/* Masque les flèches d'incrémentation */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
:root {
  --var1: rgba(114, 33, 130, 1);
  --var2: rgba(254, 182, 0, 1);
}
.title {
  color: #333 !important;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.isLoading {
  animation: loading 1s linear infinite;
  opacity: 0.4;
}

@keyframes translate {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate {
  animation: translate 0.5s ease;
}
