<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container translate">
    <div
      style="
        height: 95%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="forms">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
          <div class="input-container">
            <div class="form-group" style="margin-left: 8px">
              <input
                type="text"
                class="form-control"
                placeholder="Emprunteur"
                formControlName="emprunteur"
              />
            </div>
            <div class="form-group" style="margin-left: 8px">
              <input
                type="text"
                class="form-control"
                placeholder="Nom du projet"
                formControlName="nom_projet"
              />
            </div>
            <div class="form-group" style="margin-left: 8px">
              <select
                class="form-select"
                aria-label="Statut"
                formControlName="statut"
              >
                <option selected value="ACCEPTER">Accepté</option>
                <option value="REFUSER">Rejeté</option>
              </select>
            </div>

            <div
              class="button-container"
              style="margin-left: 8px"
              *ngIf="!searchActivate"
            >
              <input
                type="submit"
                class="btn-control material-icons"
                value="search"
              />
            </div>
            <div
              class="button-container"
              style="margin-left: 8px"
              *ngIf="searchActivate"
            >
              <input
                type="submit"
                class="btn-control material-icons"
                value="close"
              />
            </div>
          </div>
        </form>
      </div>
      <section class="table__body">
        <table>
          <thead class="z-2">
            <tr>
              <th>Type du crédit</th>
              <th>Emprunteur</th>
              <th>Type du client</th>

              <th>Montant du prêt</th>

              <th>Statut</th>
              <th>Détail</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let folder of Folders; let i = index">
              <td>{{ folder.typeCredit.nomCredit }}</td>
              <td>{{ folder.client.nom }} {{ folder.client.prenom }}</td>
              <td>Particulier</td>

              <td>
                {{ folder.montantHabitation | currency : "DZD" : "" }} DZD
              </td>
              <td>{{ status(folder.status) }}</td>
              <td>
                <i class="material-icons icon" (click)="folderClicked(folder)"
                  >remove_red_eye</i
                >
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
