<div class="container-fluid">
  <!-- <app-navbar></app-navbar> -->
  <div class="title-container">
    <p>Bienvenue, Monsieur</p>
  </div>

  <div class="row cards translate">
    <div class="row class1-container">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card" [routerLink]="['/director/dossier']">
          <div class="material-icons position-relative">
            folder<span
              style="font-size: 12px"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              {{ Folders.length }}+
            </span>
          </div>

          <span class="txt">Tous les dossiers</span>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card" [routerLink]="['/director/dossier-finalise']">
          <div class="material-icons">archive</div>

          <span class="txt">Dossiers finalisés</span>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card" [routerLink]="['/information']">
          <div class="material-icons">person</div>
          <span class="txt">Mon profile</span>
        </div>
      </div>
    </div>
    <div class="row class2-container">
      <div class="col">
        <div class="card special-card">
          <div class="material-icons">exit_to_app</div>
          <span class="txt">Déconnexion</span>
        </div>
      </div>
    </div>
  </div>
</div>
