<div class="container-fluid">
  <div class="img-container">
    <img
      loading="lazy"
      class="img-bg-home"
      src="../../assets/backgroud.jpg"
      alt="img-background"
      decoding="async"
    />
    <div class="bg-fond-black"></div>
  </div>
  <div class="card-container">
    <div class="header">
      <div class="logo-container">
        <img src="../../assets/bankLogo.png" />
      </div>
      <div class="title-container">Une demande de financement</div>
      <div class="sous-title">
        Découvrez une expérience exceptionnelle. Connectez-vous pour profiter de
        fonctionnalités exclusives.
      </div>
    </div>
    <div class="home">
      <div class="cards">
        <div class="card" [routerLink]="['/simulation']">
          <span class="material-icons"> business </span>
          <p>Je suis une entreprise</p>
        </div>
        <div class="card" [routerLink]="['/simulation']">
          <span class="material-icons"> person </span>
          <p>Je suis un particulier</p>
        </div>
        <div class="card" [routerLink]="['/simulation']">
          <span class="material-icons"> business_center </span>
          <p>Je suis un professionnel</p>
        </div>
      </div>
    </div>
    <div class="connexion translateIcons">
      <p class="connexion-title" [routerLink]="['/auth/login']">Connexion</p>
      <span class="material-icons connexion-icons"> arrow_forward_ios </span>
    </div>
  </div>
</div>
