<div class="details-info">
  <div class="numero">Dossier n°: {{ folderValue?.id }}</div>
  <div class="details-column">
    <div class="title-container">
      <label>Type du financement :</label>
      <!-- <div>consom</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.typeCredit?.typeFinancement.nomFinancement }}"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Type du crédit :</label>
      <!-- <div>consom</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.typeCredit?.nomCredit }}"
        disabled
      />
    </div>
    <div class="title-container">
      <label>Type du client :</label>
      <!-- <div>particulier</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="particulier"
        disabled
      />
    </div>

    <div class="title-container">
      <label>Durée du financement :</label>
      <!-- <div>4 années</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.dureeFinancement }} années"
        disabled
      />
    </div>
    <div class="title-container name">
      <label>Date de création :</label>
      <!-- <div>01/01/2024</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ folderValue?.createdAt | date : 'dd MMMM yyyy' : 'fr' }}"
        disabled
      />
    </div>
    <div class="title-container name">
      <label>Statut :</label>
      <!-- <div>Dossier complet</div> -->
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        value="{{ status(folderValue?.status) }}"
        disabled
      />
    </div>
  </div>
</div>
